.headerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 50%;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
}
.headerSection h1 {
    color: rgb(255, 255, 255);
}
.headerSection p {
    color: rgba(255,255,255,0.5);
}
